.venv/
__pycache__/
*.py[cod]

.ipynb_checkpoints/
.DS_Store 
.matplotlib-cache/


data/raw/*
data/interim/*
data/processed/*
reports/figures/*.png

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!reports/figures/.gitkeep
